<<<<<<< HEAD
.btn {
    float: right;
    margin-right: 50px;
}

.header-item{
    float:right;
    margin:auto 10px auto 0;
}

/* body {
    background-color: rgb(69, 69, 165);
} */

.page-header {
    background-color: white;
}
.crystals{
    margin-top: 50px;
}

.thumbnail {
    width: 200px;
    height: 200px;
    border: none;
=======
.btn {
    float: right;
    margin-right: 50px;
}

.header-item{
    float:right;
    margin:auto 10px auto 0;
}

/* body {
    background-color: rgb(69, 69, 165);
} */

.page-header {
    background-color: white;
}
.crystals{
    margin-top: 50px;
}

.thumbnail {
    width: 200px;
    height: 200px;
    border: none;
>>>>>>> e53133bc90f4b9f7240b9720352a924fea76f316
}